@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">About Us</h1>
</div>

<hr />

<div class="row justify-content-around" style="padding-bottom:2em;">
    <div class="col-sm-3">
        <h4>Taylor O'Black</h4>
        <p>A fourth-year IT-Software Development Major at UC. Worked on UI and navigation.</p>
    </div>
    <div class="col-sm-3">
        <h4>Tony Herrera</h4>
        <p>A senior IT-Software Development Major at UC. Worked on page content and formatting.</p>
    </div>
    <div class="col-sm-3">
        <h4>Kyler Severance</h4>
        <p>A University of Cincinnati IT student.</p>
    </div>
</div>
<div class="row justify-content-around">
    <div class="col-sm-3">
        <h4>Yoshua Meatchem</h4>
        <p>A University of Cincinnati IT student. Connected the Database.</p>
    </div>
    <div class="col-sm-3">
        <h4>Alexander Pugh</h4>
        <p>A University of Cincinnati IT student. Initialized the website.</p>
    </div>
</div>