@model IEnumerable<Sport>

@{
    ViewData["Title"] = "Sports";
}
<div class="text-center">
    <h1 class="display-4">Different Sports</h1>
</div>

<hr />

<table class="table">
    <thead>
        <tr><th>Sport ID</th><th>Name of Sport</th></tr>
    </thead>
    <tbody>
        @foreach(Sport s in Model)
        {
            <tr>
                <td>@s.SportId</td>
                <td>@s.SportName</td>
            </tr>
        }
    </tbody>
</table>