@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome To Our Sports Center!</h1>
</div>
<p class="text-center text-primary"> We have all sorts of different sports!</p>