@page
@model Web_Server_Final.Views.Pages.SportHistoryModel
@{
}
<div class="text-center">
    <h1 class="display-4">Sports History</h1>
</div>

<hr />

<div class="row justify-content-around" style="padding-bottom:2em;">
    <div class="col-lg-5 bg-warning">
        <h4>Basketball History</h4>
        <p>
            The history of basketball began with its invention in 1891 in Springfield, Massachusetts by
            Canadian physical education instructor James Naismith as a less injury-prone sport than football.
        </p>
        <p><a href="https://en.wikipedia.org/wiki/History_of_basketball" class="text-dark">Read more here</a></p>
    </div>
    <div class="col-lg-5 bg-primary text-white">
        <h4>Baseball History</h4>
        <p>
            The history of baseball in the United States dates to the 18th century, when boys and amateur
            enthusiasts played a baseball-like game by their own informal rules using homemade equipment. The popularity of the sport grew and amateur men's ball clubs were formed in the 1830–50s.
        </p>
        <p><a href="https://en.wikipedia.org/wiki/History_of_baseball" class="text-light">Read more here</a></p>
    </div>
</div>
<div class="row justify-content-around" style="padding-bottom:2em;">
    <div class="col-lg-5 bg-danger text-white">
        <h4>Football History</h4>
        <p>
            The history of American football can be traced to early versions of rugby football and association football.
            Both games have their origin in multiple varieties of football played in the United Kingdom in the mid-19th
            century, in which a football is kicked at a goal or kicked over a line, which in turn were based on the
            varieties of English public school football games descending from medieval ball games.
        </p>
        <p><a href="https://en.wikipedia.org/wiki/History_of_American_football" class="text-light">Read more here</a></p>
    </div>
    <div class="col-lg-5 bg-success text-white">
        <h4>Soccer History</h4>
        <p>
            Association football, more commonly known as football or soccer, does not have a classical history.
            Notwithstanding any similarities to other ball games played around the world, FIFA has recognised that no
            historical connection exists with any game played in antiquity outside Europe.
        </p>
        <p><a href="https://en.wikipedia.org/wiki/History_of_association_football" class="text-light">Read more here</a></p>
    </div>
</div>
<div class="row justify-content-around" style="padding-bottom:2em;">
    <div class="col-lg-5 bg-secondary text-white">
        <h4>Rugby History</h4>
        <p>
            The history of rugby union follows from various football games long before the 19th century, but it was not
            until the middle of that century that the rules were formulated and codified.
        </p>
        <p><a href="https://en.wikipedia.org/wiki/History_of_rugby_union" class="text-light">Read more here</a></p>
    </div>
    <div class="col-lg-5 bg-info text-dark">
        <h4>Tennis History</h4>
        <p>
            The racket sport traditionally named lawn tennis, invented in Croydon, now commonly known simply as tennis,
            is the direct descendant of what is now denoted real tennis or royal tennis.
        </p>
        <p><a href="https://en.wikipedia.org/wiki/History_of_tennis" class="text-dark">Read more here</a></p>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-lg-5 bg-dark text-white">
        <h4>Lacrosse History</h4>
        <p>
            Lacrosse was started by the Native American Indians and was originally known as stickball. The game was initially
            played in the St. Lawrence Valley area by the Algonquian tribe and they were followed by other tribes
            in the eastern half of North America, and around the western Great Lakes.
        </p>
        <p><a href="https://en.wikipedia.org/wiki/History_of_lacrosse" class="text-light">Read more here</a></p>
    </div>
</div>
