@{
    ViewData["Title"] = "Schedules";
}
<div class="text-center">
    <h1 class="display-4">Sport Schedules</h1>
</div>

<div class="row justify-content-around" style="padding-bottom:2em;">
    <div class="col-lg-5 bg-warning">
        <h4>Basketball Season</h4>
        <p>
            The collegic baskebatll season typicall begins in the month of November, and ends in the month of March.
            College basketball games are structured with two 20–min halves with a 15–min halftime.
            Many colleges will play about 25–35 games per season, depending on the level (NCAA Division I, II, III, NAIA, or NJCAA) and tournament play.
        </p>
        <p>
            the National Basketball Association (NBA) regular season runs October-April, with the playoffs extending into June.
            It is not unusual to play 3 to 4 games per week with the possibility of competing on back-to-back days.
            Each team plays 8 preseason games and 82 games in the regular season.
            Teams competing in the World Championship finals will play over 100 games in a season and postseason.
        </p>
        <p><a href="https://www.gssiweb.org/sports-science-exchange/article/game-of-basketball#articleTopic_3" class="text-dark">Read more here</a></p>
    </div>
    <div class="col-lg-5 bg-primary text-white">
        <h4>Baseball Season</h4>
        <p>
            The collegic baseball season will span from the month of February to end of June. 
            Typiclly 56 regular season games will be played. 
        </p>
        <p>
            The MLB baseball season spans from the month of April to the month of October. 
            The season is comprised of 162 regular season games. 
            The playoffs begin in the month of October and the World Series can go into the month of November. 
        </p>
        <p><a href="https://en.wikipedia.org/wiki/2022_Major_League_Baseball_season"class="text-light">Read more here</a></p>
    </div>
</div>
<div class="row justify-content-around" style="padding-bottom:2em;">
    <div class="col-lg-5 bg-danger text-white">
        <h4>Football Season</h4>
        <p>
            The collegic football season begins in the month of August and ends in the month of December. 
            There are 44 bowl games that teams can qualify to play in at the end of the season. 
            Two of those bowl games are semi-final games to determine which two teams will play in the College Football Championship. 
        </p>
        <p>
            The NFL season spans from the month of September to the month of January.
            It consists of 272 games, with each of the NFL's 32 teams playing 17 games during an 18-week period with one "bye" week off.
            14 of the 32 NFL teams will compete in the playoffs for a chance at making the Super Bowl. 
        </p>
        <p><a href="https://fbschedules.com/nfl-schedule/" class="text-light">Read more here</a></p>

    </div>
    <div class="col-lg-5 bg-success text-white">
        <h4>Soccer Season</h4>
        <p>
            College soccer is played in the fall from August to December depending on if a team makes the tournament and how long they are in the tournament.
            Teams play conference and non-conference teams. The NCAA tournament is played in November to early December with the Final Four and Championship game played in December.
        </p>
        <p>
            Major League Soccer's regular season runs from late February or early March to October.
            Teams are geographically divided into the Eastern and Western Conferences, playing 34 games in an unbalanced schedule
        </p>
        <p><a href="https://soccerwhizz.com/soccer-seasons/" class="text-light">Read more here</a></p>
    </div>
</div>
<div class="row justify-content-around" style="padding-bottom:2em;">
    <div class="col-lg-5 bg-secondary text-white">
        <h4>Rugby Season</h4>
        <p>
            The junior rugby season starts in September and finishes at the end of April.
            The Major League Rugby regular season consists of 18 weeks, with each team playing 16 matches, beginning on February 5, 2022
        </p>
        <p>
            The Rugby World Cup occurs once every four years. During that year, the end-of-year international tests are curtailed.

            The six countries involved include:

            England, France, Ireland, Italy, Scotland, Wales
        </p>
        <p><a href="https://rugbydome.com/when-is-rugby-season/" class="text-light">Read more here</a></p>
    </div>
    <div class="col-lg-5 bg-info text-dark">
        <h4>Tennis Season</h4>
        <p>
            College Tennis is a Spring sport! The official tennis season begins in January and the National Playoffs start in May, ending later that month.
        </p>
        <p>
            Professional tour tennis is played globally with one season consisting of one calendar year.
            Several tournaments are held each week as players win prize money and earn ranking points.

            The four Grand Slam tournaments are the most important tennis events of the year in terms of world ranking points, tradition, prize-money awarded, and public attention.
        </p>
        <p><a href="https://en.wikipedia.org/wiki/Tennis_tour" class="text-dark">Read more here</a></p>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-lg-5 bg-dark text-white">
        <h4>Lacrosse Season</h4>
        <p>
            The NCAA lacrosse season begins every year at the beginning of February. 
            Teams generally play 13 regular season games, including conference matches. 
            The post-season conference tournaments begin at the end of April.
        </p>
        <p>
            The MLL season starts at the end of May and ends in Mid-August, thus making MLL lacrosse a summer sport.

            Regular Season: End of May – Mid August
            Playoffs: August – September or October
        </p>
        <p><a href="https://laxweekly.com/lacrosse-season/" class="text-light">Read more here</a></p>
    </div>
</div>